body {
  background-image: url("../image/background.jpg");
  font-family: "Courier New", Courier, monospace;
}

.main-container {
  margin: 0 auto;
  padding: 0px;
  margin-top: 7em;
  width: 50em;
  height: 25em;
  border-radius: 1em;
  background: white;
}
